<div class="two fields">
  <div class="field">
    <input placeholder="First Name" type="text" name="firstName">
  </div>
  <div class="field">
    <input placeholder="Last Name" type="text" name="lastName">
  </div>
</div>
<div class="field">
  <input placeholder="Email" type="text" name="email">
</div>
<div class="field">
  <input placeholder="Student Number" type="text" name="studentnumber">
</div>
<div class="field">
  <input placeholder="Date of Birth (DD-MM-YYYY)" type="text" name="dateofbirth">
</div>
<div class="field">
  <input placeholder="Car Registration Number" type="text" name="carregistration">
</div>
<div class="field">
  <input type="password" name="password">
</div>