<table class="ui fixed single line celled table">
  <thead>
  <tr>
    <th class="two wide center aligned">Sent By:</th>
    <th class="eleven wide">Tweeted:</th>
    <th class="three wide center aligned">Time:</th>
  </tr>
  </thead>
  <tbody>
  {{#each tweets}}
    <tr>
      <td class="center aligned"><a href="/timeline/{{ user._id }}"> {{ user.firstName }} </a></td>
      <td>
        {{#if picture.data}}
          <img class="ui medium image" src="/getpicture/{{{_id}}}"><br>
        {{/if}}
        {{{content}}}
      </td>
      <td class="center aligned"> {{shortDate date}} </td>
    </tr>
  {{/each}}
  </tbody>
</table>