{{> timelinemenu }}

<section class="ui center aligned padded grid">

  <div class="ui fourteen wide column">

    <div class="ui four cards">

      {{#each users}}
      <div class="card">
        <div class="content">
          <div class="header">{{ firstName }} {{ lastName }} </div>
          <div class="meta">{{ email }} </div>
          <div class="description">
            <a href="/timeline/{{{_id}}}">Check out what {{ firstName }} has been saying!</a>
          </div>
        </div>
      </div>
      {{/each}}

    </div>


    </div>

</section>